---
import Section from "./Section.astro";
const { color = "black",
  buttons = {
    primary: {
      label: "Order Now",
      href: "#",
    },
    secondary: {
      label: "Demo Drive",
      href: "#",
    },
  }, 
  
} = Astro.props;
---

<Section 
  color={color} 
  id="section-model-cybertruck">

  <div slot="header" class="h-auto flex flex-col items-center justify-center p-4">
    <img
      src="Cybertruck.svg"
      alt="Model cybertruck Header"
      class="h-96 w-auto object-cover mt-[-140px]"
    />

    <img
      src="tesla-foundation-series.svg"
      alt="testa fundation icon"
      class="h-10 w-auto object-cover mt-[-124px]"
    />
  </div>

  <div slot="footer" class="gap-x-6 flex mx-auto ">
    <a
      class="bg-neutral-900 border-t-4 border-gray-400 text-sm font-semibold text-gray-400 px-24 py-3 inline-block transition-colors hover:bg-button-hover hover:border-opacity-90 hover:opacity-90 uppercase cursor-pointer"
      href={buttons.primary.href} 
    >
      {buttons.primary.label}
    </a>

    <a
    class="bg-neutral-900 text-sm font-semibold text-gray-400 px-24 py-3 inline-block transition-colors hover:border-gray-500 hover:bg-button-hover hover:opacity-90 uppercase cursor-pointer"
      href={buttons.secondary.href}
    >
      {buttons.secondary.label}
    </a>
  </div>

  <img
    slot="background"
    alt="Model cybertruck"
    class="h-full w-full object-cover object-center"
    src="Modal-Cybertruck.avif"
    id="bg-image-models"
  />
</Section>